.btn-group .btn {
  background-color: #00ffff;
  border: 1px solid #00ffff;
  color: black;
  padding: 10px 24px;
}

.btn-group .btn:hover {
  background-color: blue;
  border-color: blue;
}

.form {
  width: 85%;
  margin: 8px auto;
}

.list-card {
  width: 85%;
  margin: 8px auto;
}
